body{
    background:#e2e1e1;
    font-size: 100%;
    margin: 4%;
}
h1{
    color: #FFFFFF;
}
header{
    background: #666666;
    text-align: center;
    padding: 15px;
}
nav{
    font-variant:small-caps;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    width: 30%;
    display: inline-block  ;
    margin-right: 4px;
    float: left;
}
h2{
    color: #666666;
    background: #00B7ea;
}
details{
    font-style: italic;
}
summary{
    font-style: normal  ;
}
footer{
    background: #666666;
    clear: both;
}
img{
    width: 125px;
}
a{
    display:block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #0006CC;
    width: 200px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    margin: 0 auto;
}
a:hover{
    background: #B3B3B3;
    color: #0006cc;
}
a:focus{
    background: #B3B3B3;
    color: #0006CC;
}
a:active{
    border: 3px solid #000000;
}